{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Calculate Arrays</title>
</head>
<body>
<div>
    <ul>
        last result: {{ result_status }}
    </ul>
</div>

<div>
    <ul>
        <li><a href="/api/v1/arrays/">show all data</a></li>
        <li><a href="/api/v1/errors/">show errors list</a></li>
        <li><a href="/api/v1/arrays/new">add new Dataset</a></li>
    </ul>


</div>

<div>
     <form action="#" method="get">
        <label for="calculate">calculate results for all existing datasets</label><br>
        <input type="submit" class="btn" name="mybtn" value="show results">
    </form>
</div>

</body>
</html>